@charset "ISO-8859-1";

/* --------- */
/* Variables */
/* --------- */

:root {
	/* Colors */
	--primary: #7f5af0;
	--secondary: #72757e;
	--tertiary: #2cb67d;
	
	--heading: #fffffe;
	--paragraph: #94a1b2;
	--white: #fffffe;
	
	--success: #2cb67d;
	--danger: #e32b2b;
	--outline: #010101;
	
	--bgDark: #16161a;
	--bgLight: #242629;
	
	/* Fonts */
	--hFont: verdana;
	--pFont: sans-serif;
	
	/* Changeable Spacing */
	--xl: 5rem;
	--l: 4rem;
	--m: 3rem;
	--s: 2rem;
	--xs: 1rem;
	--tiny: 0.5rem;
}

* {
	margin: 0px;
}

body {
	background-color: var(--bgDark);
}

main {
	min-height: 90vh;
	margin: 100px auto 0px;
}
.limited {
	max-width: 1280px;
}

/*-----------------*/
/* Utility Classes */
/*-----------------*/
.align-center {
    align-items: center;
    display: flex;
}
.align-end {
	align-items: flex-end;
	display: flex;
}
.align-start {
	 align-items: flex-start;
	 display: flex;
}
.border1 {
	border-radius: 5px;
}
.border2 {
	border-radius: 10px;	
}
.btnAnimation {
	transition: 0.3s ease-out;
}
.btnAnimation:hover {
	transform: scale(1.1);
}
.btnAnimation:active {
	transform: scale(0.95);
}
.center {
	align-items: center;
	justify-content: center;
}
.divider {
	border-color: var(--paragraph);
	margin: var(--tiny) auto;
	width: 95%;
}
.flex {
	display: flex;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}
.hFont {
	font-family: var(--hFont);
}
.pFont {
	font-family: var(--pFont);
}
.justify-around {
	display: flex;
	justify-content: space-around;
}
.justify-between {
	display: flex;
	justify-content: space-between;
}
.justify-center {
	display: flex;
	justify-content: center;
}
.justify-evenly {
	display: flex;
	justify-content: space-evenly;
}
.list-style-none {
	list-style-type: none;
	padding: 0px;
}
.text-align-center {
	text-align: center;
}
.text-deco-none {
	text-decoration: none;
}
.trans-ease-in {
	transition: ease-in 0.3s;
}
.trans-ease-out {
	transition: ease-out 0.3s;
}

/* ----- Layout Utility Classes ----- */
.tb-container {
	align-items: center;
	display: flex;
	gap: var(--s);
	justify-content: space-evenly;
}
.tb-container> {
	height: fit-content;
}

/* Content div */
.tb-content {
	width: 45%;
}

/* Form div */
.tb-form {
	background-color: var(--bgLight);
	border-radius: 15px;
	padding: 0.5rem 1rem;
	width: 350px;
}

/* Image div */
.tb-image {
	width: 45%
}
.tb-image img {
	display: block;
	margin: auto;
	width: 90%;
}

/* ----- Form Utility Classes ----- */
.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.form-heading {
	color: var(--white);
	font-size: 2rem;
	font-family: var(--hFont);
	text-align: center;
	margin: var(--xs) auto;
}

.form-error {
	color: var(--danger);
	text-align: center;
	font-family: var(--pFont);
	font-size: 1rem;
	margin-bottom: var(--xs);
}

.form-card {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: var(--xs);
	height: fit-content;
}

.input-group {
	color: var(--white);
	font-family: var(--hFont);
	margin: auto;
	width: 80%;
}
.input-group input, .input-group textarea {
	background-color: var(--bgDark);
	border: 2px solid var(--bgDark);
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px;
	outline: none;
	color: var(--paragraph);
	font-family: var(--pFont);
	font-size: 1rem;
	line-height: 1.5rem;
	margin-top: var(--tiny);
	padding: 0.3rem 1rem;
	transition: ease-in-out 0.3s;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #16161a inset !important;
    -webkit-text-fill-color: var(--paragraph) !important;
}
.input-group input:focus, .input-group textarea:focus {
	border: 2px solid var(--primary);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transform: scale(1.05);
}

.otp-container {
	gap: var(--tiny);
}
.otp-container .OTP {
	height: 32px;
	width: 12px;
	text-align: center;
}

.OTP.correct {
	border: 2px solid var(--success) !important;
}
.OTP.error {
	border: 2px solid var(--danger) !important;
}

.form-forgot-pass {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.submit-button {
	background-color: var(--primary);
	border: none;
	border-radius: 1px 15px 1px 15px;
	color: var(--bgDark);
	cursor: pointer;
	display: block;
	font-family: var(--hFont);
	font-weight: bold;
	padding: 0.7rem 1.5rem;
	width: fit-content;
	text-transform: uppercase;
	transition: ease-in-out 0.3s;
}
.submit-button:hover {
	color: var(--white);
	transform: scale(1.05);
}

.alt-form-link {
	color: var(--primary);
	cursor: pointer;
	display: block;
	font-family: var(--pFont);
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: transparent;
	-webkit-text-decoration-color: transparent;
	-moz-text-decoration-color: transparent;
}
.alt-form-link:hover {
	text-decoration-color: var(--primary);
	-webkit-text-decoration-color: var(--primary);
	-moz-text-decoration-color: var(--primary);
}

/* ----- Modal Utility Classes ----- */
.modal {
	background-color: var(--bgDark);
	border: 5px solid var(--secondary);
	border-radius: 10px;
	height: 500px;
	margin: 7rem auto;
	width: 325px;
}
.modal::backdrop {
	background-color: #2e2828;
	opacity: .5;
}
.modal-heading {
	color: var(--white);
	font-family: var(--hFont);
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}
.modal-close {
	background-color: var(--danger);
	border: none;
	border-radius: 5px;
	color: var(--bgDark);
	cursor: pointer;
	font-size: 2rem;
	padding: 3px;
	position: absolute;
	right: 1rem;
	top: 1rem;
	transition: ease-out 0.3s;
}
.modal-close:hover {
	color: var(--white);
}

.modal .form-error {
	display: block;
	margin: 0.5rem auto;
}

.modal .input-group input {
	background-color: var(--bgLight);
}

.modal .input-group textarea {
	background-color: var(--bgLight);
	resize: none;
}

.modal .submit-button {
	border-radius: 5px;
}


/* ----- Public Pages Utility Classes ----- */
.pub-heading {
	color: var(--white);
	font-family: var(--hFont);
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: var(--xs);
	text-align: center;
}
.pub-heading.confirmation {
	color: var(--success);
}

.pub-heading.danger {
	color: var(--danger);
}

.pub-subheading {
	color: var(--white);
	font-family: var(--hFont);
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: var(--xs);
}

.pub-card {
	background-color: var(--bgLight);
	border-radius: 5px;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: var(--m) var(--s);
	max-width: 900px;
	height: fit-content;
	margin: var(--xs) var(--s) var(--m);
}
.pub-card img {
	margin-bottom: var(--s);
	max-height: 350px;
	width: 80%;
}

.pub-paragraph {
	color: var(--paragraph);
	font-family: var(--pFont);
	font-size: 1.1rem;
	line-height: 2rem;
	margin-bottom: var(--s);
}

.pub-link {
	background-color: var(--tertiary);
	border-radius: 5px;
	color: var(--white);
	font-family: var(--hFont);
	font-size: 1.2rem;
	font-weight: bold;
	padding: 0.5rem 1rem;
	text-decoration: none;
	text-transform: capitalize;
}

.pub-link.alt {
	background-color: var(--danger);
}

.pub-date {
	color: var(--paragraph);
	font-family: var(--pFont);
	font-size: 1rem;
}

/* ----- Nav-menu Utility Classes ----- */
.nav-menu-open {
	background-color: var(--bgLight);
	border: none;
	border-radius: 5px;
	color: var(--primary);
	cursor: pointer;
	font-size: 2.5rem;
	margin: 1rem 2rem 1rem 0rem;
	padding: 0.5rem;
}
.nav-menu-open.toggled {
	color: var(--white);
}

.nav-menu {
	background-color: var(--bgLight);
	border-radius: 0rem 0rem 0rem 5px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	height: fit-content;
	position: fixed;
	padding: var(--xs) 0rem var(--tiny);
	right: -300px;
	width: 300px;
	transition: ease-out 0.2s;
	z-index: 4;
}
.nav-menu.alt {
	border-top: 3px solid var(--white);
	top: 70px;
}
.nav-menu.opened {
	right: 0px;
}
.nav-menu-links {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: var(--xs);
	list-style: none;
	padding: var(--xs) var(--s);
}
.nav-menu-links a {
	background-color: var(--bgDark);
	border-radius: 10px;
	color: var(--white);
	display: block;
	font-family: var(--hFont);
	font-size: 1.5rem;
	padding: var(--tiny) var(--xs);
	text-align: center;
	text-decoration: none;
	transition: ease-out 0.3s;
	width: 200px;
}
.nav-menu-links a:hover {
	color: var(--primary);
	transform: scale(1.05);
}

.logout-btn {
	background-color: var(--danger);
	border: none;
	border-radius: 5px;
	color: var(--white);
	cursor: pointer;
	font-family: var(--hFont);
	font-size: 1.25rem;
	font-weight: bold;
	padding: var(--tiny) var(--xs);
}
 
/* --------- */
/* Specifics */
/* --------- */

/* ----- Navbar ----- */
#navbar {
	background-color: var(--bgDark);
	height: 100px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 5;
}
#navbar.alt {
	height: 70px;
	webkit-box-shadow: 0 6px 4px -2px #1a1a1a;
   	-moz-box-shadow: 0 6px 4px -2px #1a1a1a;
    box-shadow: 0 6px 4px -2px #1a1a1a;
}
#navbarLeft {
	border-radius: 5px;
	padding: 0rem 0.5rem 0.3rem;
	margin: 1rem 0rem 1rem 2rem;
}
#navbarLeft img {
	margin-right: var(--xs);
	width: 4rem;
}
#navbar.alt #navbarLeft img {
	width: 3rem;
}
#navbarLeft h1 {
	color: var(--primary);
	font-weight: bold;
	font-size: 2rem;
}
#navbar.alt #navbarLeft h1 {
	font-size: 1.75rem;
}

#publicNav {
	gap: var(--xs);
	margin: 1rem 2rem 1rem 0rem;
}

#publicNav li a {
	border: 3px solid var(--primary);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: block;
	font-size: 1.1rem;
	font-weight: bold;
	padding: 0.5rem 1.5rem;
	text-decoration: none;
}

#loginLink {
	background-color: var(--bgDark);
	border-radius: 15px 1px 15px 1px;
	color: var(--primary);
}
#signupLink {
	background-color: var(--primary);
	border-radius: 1px 15px 1px 15px;
	color: var(--white);
}

#portalNav {
	gap: var(--xs);
	margin: 1rem 0.5rem;
}
#portalNav li a {
	background-color: transparent;
	border: 3px solid transparent;
	border-radius: 3px;
	color: var(--primary);
	display: block;
	font-size: 1.1rem;
	font-weight: bold;
	height: 50px;
	padding: 0.5rem 1.5rem;
	text-decoration: none;
}
#portalNav li a:hover {
	border-bottom: 3px solid var(--primary);
}

.nav-icons {
	top: 7px;
	left: -5px;
	position: relative;
	font-size: 2rem;
}
.nav-icons

/* ----- Footer ----- */
footer {
	background-color: var(--bgLight);
}

#footerLeft {
	margin: 1rem 0rem 0.5rem 2rem;
}
#footerLeft img {
	margin-right: var(--xs);
	width: 50px;
}
#footerLeft h4 {
	color: var(--primary);
	font-size: 1.2rem;
}

#footerRight {
	margin: 1rem 2rem 0.5rem 0rem;
}

#footLinks {
	gap: var(--tiny);
}
#footLinks a {
	border-bottom: 3px solid transparent;
	color: var(--white);
	font-weight: bold;
	padding: 0.5rem 1rem;
	text-decoration: none;
	transition: ease-out 0.3s;
}
#footLinks a:hover {
	border-bottom: 3px solid var(--primary);
}

footer p {
	color: var(--paragraph);
	display: block;
	padding: var(--tiny);
}

/* ----- Landing Page ----- */
#homeContent {
	gap: var(--s);
	padding-left: var(--m);
}
.homeHeading {
	color: var(--white);
	font-family: var(--hFont);
	font-size: 2.5rem;
}
.homeHeading strong.highlight {
	color: var(--primary);
}
.homeParag {
	color: var(--white);
	font-family: var(--pFont);
	font-size: 1.25rem;
	line-height: 1.75rem;
}
.homeParag span {
	color: var(--success);
}
#joinUsBtn {
	background-color: transparent;
	border: 3px solid var(--primary);
	border-radius: 10px;
	color: var(--white);
	cursor: pointer;
	font-size: 1.25rem;
	font-weight: bold;
	margin: auto;
	padding: 1rem 1.5rem;
	width: fit-content;
}
#joinUsBtn:hover {
	background-color: var(--primary);
}


/* ----- Pubic Pages ----- */

/* Contact Us */
#contactContainer {
	gap: var(--tiny);
}
.contact-card {
	background-color: var(--bgDark);
	border-radius: 10px;
	padding: 1rem 2rem;
}
.contact-card .pub-subheading {
	text-align: center;
}
.contact-card p {
	margin-bottom: 0rem;
	text-align: center;
}

 
/* ------------ */
/* Breakpoints */
/* ------------ */

/* ----- Utility Class Breakpoints ----- */
@media only screen and (max-width: 922px) {
	.tb-image.disappear {
	display: none;
	}
}
@media only screen and (max-width: 880px) {
	.tb-container {
		flex-direction: column;
		justify-content: center;
	}
	.tb-container>div {
		width: 80%;
	}
	.tb-content {
		text-align: center;
	}
	.tb-image img {
		width: 40vh;
	}
}

@media only screen and (max-width: 720px) {
	.homeHeading {
		font-size: 2rem;
	}
	.homeParag {
		font-size: 1rem;
		line-height: 1.5rem;
	}
	#upperFooter {
		flex-direction: column;
	}
	#footerLeft {
		margin: var(--xs) 0rem;
	}
	#footerRight {
		margin: var(--tiny) 0rem;
	}
}
@media only screen and (min-width: 721px) {
	.nav-menu-open.autohide {
		display: none;
	}
}

@media only screen and (max-width: 400px) {
	#footLinks {
		flex-direction: column;
		gap: var(--s);
	}
}

/* ----- Specific Breakpoints ----- */
@media only screen and (max-width: 880px) {
	#homeContent {
		padding-left: 0rem;
	}
}

@media only screen and (max-width: 720px) {
	#publicNav {
		display: none;
	}
	#portalNav {
		display: none;
	}
}
@media only screen and (max-width: 400px) {
	#navbarLeft h1 {
		font-size: 1.5rem;
	}
}









