.default-main {
	display: grid;
	gap: var(--s);
	grid-template-columns: 250px 70%;
	justify-content: space-around;
	max-width: 1280px;
	padding-bottom: var(--l)
}

.single-main {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: var(--s);
	justify-content: start;
	margin: 100px auto;
	max-width: 1280px;
	padding: var(--s) var(--tiny) var(--l);
}


/* ----- Side Profile ----- */
.side-profile {
	background-color: var(--bgLight);
	border-radius:10px;
	display: flex;
	flex-direction: column;
	height: fit-content;
	margin: 1rem 0rem 1rem 0.5rem;
	padding: 1rem;
	width: 250px;
	z-index: -1;
}

.sp-top {
	margin: 0rem 0rem var(--xs);
	position: relative;
}

.sp-cover {
	border-radius: 10px 10px 0px 0px;
	height: 100px;
	margin: 0rem 0rem var(--l);
	width: 250px;
}

.sp-img {
	border: 5px solid var(--bgLight);
	border-radius: 50%;
	display: block;
	left: 50%;
 		transform: translate(-50%, 0%);
	margin: 1rem auto;
	position: absolute;
	top: 2rem;
	width: 100px;
}

.side-profile h5 {
	color: var(--white);
	font-family: var(--hFont);
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
	text-align: center;
}

.side-profile p {
	color: var(--paragraph);
	font-family: var(--pFont);
	font-size: 1.1rem;
	margin-bottom: 1rem;
}

/* ----- Create Post Button ----- */
.create-post-btn {
	background-color: var(--primary);
	border-radius: 10rem;
	color: var(--white);
	cursor: pointer;
	font-family: var(--hFont);
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 2px;
	outline: 2px solid transparent;
	padding: 0.75rem 1rem;
	text-decoration: none;
	transition: ease-in-out 0.3s;
}
.create-post-btn:hover {
	outline-color: var(--white);
	outline-offset: 5px;
}

/* ----- Posts Area ----- */
.posts-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 0rem 0rem var(--m);
	height: fit-content;
	margin: 1rem 0.5rem 1rem 0rem;
	width: 90%;
}
.posts-container:last-child {
	margin-bottom: var(--l);
}

.post-card {
	background-color: var(--bgLight);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	margin: 0rem 0.5rem;
	padding: 1rem 0.75rem;
	height: fit-content;
	width: 95%;
}

.post-op {
	align-items: center;
	display: flex;
	text-decoration: none;
	width: fit-content;~
}
.post-op img {
	border-radius: 50%;
	margin-right: 1rem;
	width: 50px;
}

.post-op p {
	color: var(--white);
	font-family: var(--hFont);
	font-size: 1.1rem;
}

.post-date {
	display: block;
	color: var(--paragraph);
	font-family: var(--pFont);
	font-size: 1rem;
	margin: 0.5rem 0rem;
}

.post-img {
	aspect-ratio: auto 4 / 3;
	margin: 0rem auto 1rem;
	width: 100%;
}

.post-heading {
	color: var(--white);
	font-family: var(--hFont);
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.post-paragraph {
	color: var(--paragraph);
	font-family: var(--pFont);
	margin-bottom: 1rem;
}

/* POST BUTTONS */
.thread-link {
	background-color: transparent;
	outline: 2px solid transparent;
	outline-offset: -15px;
	border-radius: 3px;
	color: var(--primary);
	display: block;
	font-family: var(--hFont);
	font-size: 1rem;
	font-weight: bold;
	margin: 0.5rem auto 0.25rem;
	padding: 0.75rem 1rem;
	text-decoration: none;
	transition: ease-in-out 0.3s;
	width: fit-content;
}
.thread-link:hover {
	outline: 2px solid var(--primary);
	outline-offset: 0px;
}

/* ----- Replies ----- */
.replies-container {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	gap: var(--s);
	width: 95%;
}

.reply-card {
	background-color: var(--bgLight);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	margin: 0rem auto;
	padding: 1rem 0.75rem;
	height: fit-content;
	width: 95%;
}

.reply-user {
	align-items: center;
	display: flex;
	text-decoration: none;
	width: fit-content;
}
.reply-user img {
	border-radius: 50%;
	margin-right: 1rem;
	width: 50px;
}

.reply-user p {
	color: var(--white);
	font-family: var(--hFont);
	font-size: 1.1rem;
}

.reply-date {
	display: block;
	color: var(--paragraph);
	font-family: var(--pFont);
	font-size: 1rem;
	margin: 0.5rem 0rem;
}

.reply-paragraph {
	color: var(--paragraph);
	font-family: var(--pFont);
	margin-bottom: 1rem;
}

/* ----- Profile ----- */
.profile {
	background-color: var(--bgLight);
	border-radius: 10px;
	position: relative;
	height: fit-content;
	padding-bottom: 1rem;
	width: 90%;
}

.cover-photo {
	border-radius: 10px 10px 0px 0px;
	height: 150px;
	margin-bottom: 2rem;
	object-fit: cover;
	width: 100%;
}

.profile-photo {
	border: 5px solid var(--bgLight);
	border-radius: 50%;
	display: block;
	left: 2.5rem;
	position: absolute;
	width: 100px;
	top: 5rem;
}

.profile-details {
	font-family: var(--pFont);
	padding: 1rem;
}

.profile-name {
	color: var(--white);
	font-family: var(--hFont);
	font-size: 1.25rem;
}
.profile-occupation {
	color: var(--primary) !important;
	font-weight: bold;
	margin: 0.25rem 0rem 2rem !important;
}

.profile-details p {
	color: var(--paragraph);
	margin: 0.25rem 0rem 0.5rem;
}

/* PROFILE ACTIONS */
.profile-actions {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-evenly;
	margin: 1rem 0.5rem;
}
.action-btn {
	background-color: var(--primary);
	border: none;
	border-radius: 3px;
	color: var(--white);
	cursor: pointer;
	display: block;
	font-family: var(--hFont);
	font-size: 1rem;
	padding: 0.5rem 0rem;
	text-align: center;
	text-decoration: none;
	transition: ease-out 0.3s;
	width: 150px;
}
.action-btn:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transform: scale(1.1);
}


/* ----- User Experience Container ----- */
.info-container {
	display: grid;
	grid-template-columns: 350px 350px;
	justify-content: space-evenly;
	width: 90%
}

.info-section {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: var(--xs);
}

.is-heading {
	color: var(--white);
	font-family: var(--hFont);
	font-weight: bold;
	font-size: 1.5rem;
	letter-spacing: 2px;
	margin-bottom: 0.25;
}

/* Mini-Cards Utility */
.mini-card {
	background-color: var(--bgLight);
	border-radius: 5px;
	padding: 0.5rem;
	width: 90%;
}
.mc-heading {
	color: var(--white);
	font-family: var(--hFont);
	font-weight: bold;
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
}
.mini-card p {
	color: var(--paragraph);
	font-family: var(--pFont);
	font-size: 1rem;
}


/* ------------ */
/* Breakpoints */
/* ------------ */

/* ----- Utility Class Breakpoints ----- */
@media only screen and (max-width: 1080px) {
	.default-main {
	grid-template-columns: 85%;
	}
	.side-profile {
	display: none;
	}
}

@media only screen and (max-width: 768px) {
	.info-container {
	grid-template-columns: 350px;
	gap: 2rem;
	}
}





